extends layout

block layout-content 
    main#main.main
        .pagetitle 
            h1 Add Student
            nav 
                ol.breadcrumb 
                    li.breadcrumb-item 
                        a(href="/home") Home 
                    li.breadcrumb-item.active Add Student
            div 
                form(action="" class="register" method="POST" enctype="multipart/form-data").row.g-3
                    div.col-md-6
                        label(for="firstName").form-label First Name
                        input(type="text" id="first_name" name="firstName" placeholder="First Name").form-control
                    div.col-md-6
                        label(for="lastName").form-label Last Name
                        input(type="text" id="last_name" name="lastName" placeholder="Last Name").form-control
                    input(hidden name="faceDescriptor")
                    div.flex
                        div
                            //- label(for="studentImage").form-label Upload Image   
                            input(type="file" name="studentImage" value="" id="student_image" hidden).form-select

                        div.video
                            label().form-label Take A Picture
                            i#start-camera.bi.bi-webcam
                            div.wrap
                                video(src="" autoplay="true" width="320" height="240")#video-cam
                            i#close-camera.bi.bi-x-square 
                            i#take-picture.bi.bi-camera
                        
                        canvas(width="320" height="240")#canvas

                        
                    input(type="submit", value="Submit" class="btn btn-primary")
    script(src="js/face-api.min.js" type="module")
        //- script(src="js/detect.js" type="module")   
    script(src="js/main.js" type="module")
        