extends layout
block layout-content 
    main#main.main
        .pagetitle 
            h1 Add Student
            nav 
                ol.breadcrumb 
                    li.breadcrumb-item 
                        a(href="/home") Home 
                    li.breadcrumb-item.active Add Student
            div 
                form(action="" class="register" method="POST" enctype="multipart/form-data").row.g-3
                    div.col-md-6
                        label(for="firstName").form-label First Name
                        input(type="text" id="first_name" name="firstName" placeholder="First Name").form-control
                    div.col-md-6
                        label(for="lastName").form-label Last Name
                        input(type="text" id="last_name" name="lastName" placeholder="Last Name").form-control
                    input(hidden name="faceDescriptor")
                    input(type="file" name="studentImage" value="" id="student_image" hidden).form-select
                    h3 ** After starting camera please wait for your face description to load before taking picture **
                    div.d-inline-flex.flex-column.justify-content-between.flex-lg-row
                        div.video
                            button#start-camera.NavButton Start Camera
                                i.bi.bi-webcam
                            button#close-camera.NavButton Close Camera
                                i.bi.bi-x-square 
                            div.wrap
                                video(src="" autoplay="true" width="320" height="240")#video-cam
                            button#take-picture.NavButton Take Picture
                                i.bi.bi-camera
                        canvas(width="320" height="240")#canvas
                    button(type="submit" value="submit").btn.btn-primary Register Student
    script(src="js/face-api.min.js" type="module")
        //- script(src="js/detect.js" type="module")   
    script(src="js/main.js" type="module")
        
