extends layout

block layout-content
    main#main.main
        nav 
            ol.breadcrumb 
                li.breadcrumb-item 
                    a(href="/home") Home 
                li.breadcrumb-item.active All Students
            
        .col-12 
            .card.recent-sales 
                .filter
        
                .card-body 
                    h5.card-title Students 
                            table.table.table-borderless.datatable 
                                thead 
                                    tr 
                                        th(scope="col") #
                                        th(scope="col") First Name
                                        th(scope="col") Last Name 
                                        th(scope="col") Image
                                    each item,i  in items                                  
                                        tbody 
                                            tr 
                                                td=i
                                                td=item.first_name 
                                                td=item.last_name
                                                td
                                                    img(src=`${item.student_image}` alt="student-image")
        

