extends layout
block layout-content
    section.home 
        div.container
            h1 Check if student is in your registered class
            div.wrap
                video(src="", autoplay="true")#webcam
                canvas.video 
            div 
                //- button#startbutton Take photo 
            div 
                a(href="/home") 
                    p Go back home
            div.output
                img(src="", alt="", srcset="")#photo
    script(src="js/face-api.min.js" type="module")   
    script(src="js/detect.js" type="module")
    