extends layout 
block layout-content 
    main#main.main
        .pagetitle 
            h1 Dashboard 
            nav 
                ol.breadcrumb 
                    li.breadcrumb-item 
                        a(href="/home") Home 
                    li.breadcrumb-item.active Dashboard
        section.section.dashboard 
            .row 
                .col-lg-8 
                    .row 
                        a(href="/add-student")
                            .col-xxl-4.col-md-6 
                                .card.info-card.sales-card 
                                    .card-body 
                                        h5.card-title Add New Student
                                        .d-flex.align-items-center 
                                            .card-icon.rounded-circle.d-flex.align-items-center.justify-content-center 
                                                i.bi.bi-plus-lg
                                                
                        a(href="/all-students")
                            .col-xxl-4.col-md-6 
                                .card.info-card.sales-card 
                                    .card-body 
                                        h5.card-title View all Students
                                        .d-flex.align-items-center 
                                            .card-icon.rounded-circle.d-flex.align-items-center.justify-content-center 
                                                i.bi.bi-view-stacked                                       
                        a(href="/verify-student")
                            .col-xxl-4.col-md-6 
                                .card.info-card.sales-card 
                                    .card-body 
                                        h5.card-title Verify A Student
                                        .d-flex.align-items-center 
                                            .card-icon.rounded-circle.d-flex.align-items-center.justify-content-center 
                                                i.bi.bi-person-check 
                                                               
                        a(href="/logout")
                            .col-xxl-4.col-md-6 
                                .card.info-card.sales-card 
                                    .card-body 
                                        h5.card-title Logout
                                        .d-flex.align-items-center 
                                            .card-icon.rounded-circle.d-flex.align-items-center.justify-content-center 
                                                i.bi.bi-box-arrow-left                 

