extends layout 
block layout-content 
    section.index.home
        div.homeView.container
            div.register-form
                h1 Register A Student 
                div 
                    form(action="" class="register" method="POST" enctype="multipart/form-data")
                        div
                            label(for="firstName") First Name
                            input(type="text" id="first_name" name="firstName" placeholder="First Name")
                        div
                            label(for="lastName") Last Name
                            input(type="text" id="last_name" name="lastName" placeholder="Last Name")

                        div
                            label(for="studentImage") Upload Image   
                            input(type="file" name="studentImage" value="" id="student_image")
                        input(type="submit", value="Submit" class="NavButton")
                        
            div.registered-student
                h1 List of Registered Student
                div 
                    each item, i in items 
                        li= item.first_name
                    form(action="" class="check" method="POST" enctype="multipart/form-data")
                        div
                            label(for="checkImage") Upload an Image you want to check 
                            input(type="file" name="checkImage" id="check_image")
                        input(type="submit", value="Check" class="NavButton")
                a(href="/check")
                    div.NavButton check
        section.modal 
            a(href="/logout")
                div.NavButton Logout
        script(src="js/main.js" type="module")
        
    //- script.
    //-     submit = document.querySelector('.NavButton').value
    //-     file = document.querySelector('#student_image')
    //-     console.log(submit)