doctype html
html
    head 
      title knowledgebase 
      link(rel="stylesheet", href="css/reset.css")
      link(rel="stylesheet", href="css/main.css")
    section.index 
      div.container.home
        div.font-1.mg-1 Psychic Face is a class portal for lecturers to register and easily identify students in a class.  This is a final project by HND3 part time class for the award of ond IN Computer Science.

      section.container.modal 
        div Access the Class Portal
        if isAuthenticated
          a(href="/home")
            div.NavButton Just dive in!
        else
          a(href="/login")
            div.NavButton Log in
      