extends layout

block layout-content
  section.index 
    div.View.WelcomeView.container
      h1 Student Registration Portal 
      div.Message
        div.Title
        span.Details Access the Class Portal
    section.modal 
      //- h1 Login to Your Class
      if isAuthenticated
        a(href="/home")
          div.NavButton Just dive in!
      else
        a(href="/login")
          div.NavButton Log in
      