doctype html
html
    head 
        title knowledgebase 
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/main.css")
    body
        block layout-content
    footer 
