doctype html
html
    head 
        title knowledgebase 
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/reset.css")
        link(rel="stylesheet", href="css/main.css")

    body
        block layout-content
        script(src="js/face-api.js" type="module") 
        script(src="js/main.js" type="module")

    footer 
