<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Student</title>
</head>
<body>
    <h1>To Register your student </h1>
    <hr>
    <div>
        <form action="/regsiter-student" method="POST" enctype="multipart/form-data">
            <div>
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" placeholder="First Name" value="" name="first_name" required>
            </div>
            <div>
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" placeholder="First Name" value="" name="last_name" required>
            </div>
            <div>
                <label for="student_image">Upload Image</label>
                <input type="file" name="student_image" value="" id="student_image" name="student_image" required>
            </div>
            <div>
                <button type="submit"> Submit </button>
            </div>
        </form>
    </div>
</body>
</html>