extends layout
block layout-content
    main#main.main 
            .card 
                .card-body
                    h1.card-title Verify A Student 

                    //- form(action="" class="check" method="POST" enctype="multipart/form-data")
                    //- div.form-label Upload Image 
                    //-     input(type="file" name="checkImage" id="check_image").form-select
                    label.form-label Take A Picture 
                    span#start-camera-check.bi.bi-camera 
                    div.wrap-check     
                        video(src="" autoplay="true" width="320" height="240")#video-check
                    span#close-camera-check.bi.bi-x-square 
                    span#take-picture-check.bi.bi-camera
                    canvas(width="320" height="240")#canvas-check

                    button(data-bs-toggle="modal" data-bs-target="#verticalycentered").verify-button.btn.btn-primary#submit-button Verify 
                    .modal.fade#verticalycentered(tabindex="-1")
                        .modal-dialog.modal-dialog-centered 
                            .modal-content 
                                .modal-header 
                                    .modal-title 
                                    button(type="button" data-bs-dismiss="modal" arial-label="Close").btn-close#close-modal
                                .modal-body.verify-output
                                .modal-footer 
                                    button(data-bs-dismiss="modal").btn.btn-secondary#close-modal Close 
