extends layout
block layout-content
    main#main.main 
        h1.card-title Verify A Student 
            div 
                form(action="" class="check" method="POST" enctype="multipart/form-data")
                    div.form-label Upload Image 
                        input(type="file" name="checkImage" id="check_image").form-select
                    label.form-label Or Take A Picture 
                    span.bi.bi-camera 
                    div.wrap-check     
                        video(width="320" height="240")
                    span#close-camera.bi.bi-x-sqaure 
                    span#take-pictrue.bi.bi.camera 
                    canvas(width="320" height="240")
                
                    input(type="submit", value="submit" class="btn btn-primary")